env
zj_env
db.sqlite3
logs
.DS_Store
.idea
**.pyc
**__pycache__
setting_local.py
*.swp
.idea
celerybeat-schedule

node_modules
npm-debug.log
static/dist
dist

*.orig
*.retry
celerybeat-schedule.db
zj_resource/settings_local.py

*.xls
*.xlsx
book/bookcontent
celerybeat.pid
